header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.github-commit {
  padding: 14px 0;
  height: 64px;
  line-height: 36px;
  background-color: #5c5757;
  color: #e6e6e6;
  font-size: .9rem; }

@media only screen and (max-width : 992px) {
  .github-commit {
    text-align: center; } }

.github-button {
  background-color: #6f6d6d;
  -webkit-transition: .25s ease;
  -moz-transition: .25s ease;
  -o-transition: .25s ease;
  -ms-transition: .25s ease;
  transition: .25s ease; }
.github-button:hover {
    background-color: #797777; }

.sha {
  color: #f0f0f0;
  margin: 0 6px 0 6px; }

.naver_green {
  background-color: #41C000;
}

.naver_brand_logo {
  padding: 14px 0 0 20px;
}
