<!doctype html>
<html>

<head>
	<meta charset='UTF-8'>
	<meta name='viewport' content='width=device-width initial-scale=1'>
	<title>&quot;CSS test&quot;</title>
</head>

<body>
	<hr />
	<div>[TOC]</div>
	<p>&nbsp;</p>
	<h1>H1</h1>
	<h2>H2</h2>
	<h3>H3</h3>
	<h4>H4</h4>
	<h5>H5</h5>
	<h6>H6</h6>
	<hr />
	<h2>Emphasis</h2>
	<p>Emphasis, aka italics, with <em>asterisks</em> or <em>underscores</em>.</p>
	<p>Strong emphasis, aka bold, with <strong>asterisks</strong> or <strong>underscores</strong>.</p>
	<p>Combined emphasis with <strong>asterisks and <em>underscores</em></strong>.</p>
	<p>Strikethrough uses two tildes. <del>Scratch this.</del></p>
	<p>Lorem ipsum dolor sit amet, <a href=''>test link</a> adipiscing elit. <strong>This is strong.</strong> Nullam
		dignissim convallis est. Quisque aliquam. <em>This is emphasized.</em> Donec faucibus. Nunc iaculis suscipit dui. 5<sup>3</sup>
		= 125. Water is H<sub>2</sub>O. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula,
		nisl. <cite>The New York Times</cite> (That’s a citation). <span style="text-decoration:underline;">Underline</span>.
		Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem,
		consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.</p>
	<p>HTML and CSS are our tools. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc.
		Morbi imperdiet augue quis tellus. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu
		volutpat enim diam eget metus. To copy a file type <code>COPY filename</code>. <del>Dinner’s at 5:00.</del> <span
		 style="text-decoration:underline;">Let’s make that 7</span>. This <del>text</del> has been struck.</p>
	<hr />
	<h2>Text-level semantics</h2>
	<p>HTML elements
		The <a href="#">a element</a> example <br>
		The <abbr>abbr element</abbr> and <abbr title="Title text">abbr element with title</abbr> examples <br>
		The <b>b element</b> example <br>
		The <cite>cite element</cite> example <br>
		The <code>code element</code> example <br>
		The <del>del element</del> example <br>
		The <dfn>dfn element</dfn> and <dfn title="Title text">dfn element with title</dfn> examples <br>
		The <em>em element</em> example <br>
		The <i>i element</i> example <br>
		The <ins>ins element</ins> example <br>
		The <kbd>kbd element</kbd> example <br>
		The <mark>mark element</mark> example <br>
		The <q>q element <q>inside</q> a q element</q> example <br>
		The <s>s element</s> example <br>
		The <samp>samp element</samp> example <br>
		The <small>small element</small> example <br>
		The <span>span element</span> example <br>
		The <strong>strong element</strong> example <br>
		The <sub>sub element</sub> example <br>
		The <sup>sup element</sup> example <br>
		The <var>var element</var> example <br>
		The <u>u element</u> example</p>
	<hr />
	<h2>Media</h2>
	<p>Here&#39;s our logo (hover to see the title text):</p>
	<h4>Absolute path Large:</h4>
	<p> <img src='https://storage.googleapis.com/spec-host-backup/mio-design%2Fassets%2F1z0dsWbLqJkzTGVbmaJViiaNnh4mK-aoP%2Fdesign-theming-2x1-large.png'
		 class='large materialboxed' alt='alt text' referrerPolicy='no-referrer' /></p>
	<h4>Relative path Medium: </h4>
	<p><img src='/assets/sample.png' class='medium' alt='alt text' referrerPolicy='no-referrer' /></p>
	<h4>Reference-style small: </h4>
	<p><img alt='alt text' src='https://user-images.githubusercontent.com/579873/44939654-d8fdfd80-ad3b-11e8-9b64-6244cb5e6886.png'
		 class='small' referrerPolicy='no-referrer'></img></p>

	<p>&nbsp;</p>
	<h3> File Download</h3>
	<p><strong>External Link</strong></p>
	<p><a href='http://material.io'>external link</a></p>
	<p><strong>File download</strong></p>
	<p><a href='/assets/download/material.sketchplugin.zip'>Download files(zip)</a></p>
	<p><strong>Image + File download</strong></p>
	<p><a href='/assets/download/material.sketchplugin.zip'><img src='/assets/button.png' alt='alt text' referrerPolicy='no-referrer' /></a></p>
	<p>&nbsp;</p>
	<hr />
	<h2>List Types</h2>
	<h3>Definition List</h3>
	<p>Definition List Title
		: This is a definition list division.</p>
	<p>Definition
		: An exact statement or description of the nature, scope, or meaning of something: <em>our definition of what
			constitutes poetry.</em></p>
	<h3>Ordered List</h3>
	<ol start=''>
		<li>
			<p>List Item 1</p>
		</li>
		<li>
			<p>List Item 2</p>
			<ol start=''>
				<li>Nested list item A</li>
				<li>Nested list item B</li>

			</ol>
		</li>
		<li>
			<p>List Item 3</p>
		</li>

	</ol>
	<h3>Unordered List</h3>
	<ul>
		<li>
			<p>List Item 1</p>
		</li>
		<li>
			<p>List Item 2</p>
			<ul>
				<li>Nested list item A</li>
				<li>Nested list item B</li>

			</ul>
		</li>
		<li>
			<p>List Item 3</p>
		</li>
		<li>
			<ul>
				<li>*</li>

			</ul>
		</li>

	</ul>
	<h2>Tables</h2>
	<p>Colons can be used to align columns.</p>
	<figure>
		<table>
			<thead>
				<tr>
					<th style='text-align:left;'>Tables</th>
					<th style='text-align:center;'>Are</th>
					<th style='text-align:right;'>Cool</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td style='text-align:left;'>Left-aligned</td>
					<td style='text-align:center;'>centered</td>
					<td style='text-align:right;'>right-aligned</td>
				</tr>
				<tr>
					<td style='text-align:left;'>Tables</td>
					<td style='text-align:center;'>Are</td>
					<td style='text-align:right;'>Cool</td>
				</tr>
				<tr>
					<td style='text-align:left;'>Tables</td>
					<td style='text-align:center;'>Are</td>
					<td style='text-align:right;'>Cool</td>
				</tr>
			</tbody>
		</table>
	</figure>
	<p>The outer pipes (|) are optional, and you don&#39;t need to make the raw Markdown line up prettily. You can also
		use inline Markdown.</p>
	<figure>
		<table>
			<thead>
				<tr>
					<th>Markdown</th>
					<th>Less</th>
					<th>Pretty</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><em>Still</em></td>
					<td><code>renders</code></td>
					<td><strong>nicely</strong></td>
				</tr>
				<tr>
					<td>1</td>
					<td>2</td>
					<td>3</td>
				</tr>
			</tbody>
		</table>
	</figure>
	<hr />
	<h2>Code blocks</h2>
	<p><code>Code blocks</code> are part of the Markdown spec, but syntax highlighting isn&#39;t. </p>
	<ul>
		<li>Inline <code>code</code> has <code>back-ticks around</code> it.</li>

	</ul>
	<p>Or</p>
	<pre><code class='language-javascript' lang='javascript'>var s = &quot;JavaScript syntax highlighting&quot;;
alert(s);
</code></pre>
	<pre><code class='language-python' lang='python'>s = &quot;Python syntax highlighting&quot;
print s
</code></pre>
	<pre><code>No language indicated, so no syntax highlighting in Markdown Here (varies on Github). 
But let&#39;s throw in a &lt;b&gt;tag&lt;/b&gt;.

</code></pre>
	<hr />
	<h2>Blockquotes</h2>
	<blockquote>
		<p>Blockquotes are very handy in email to emulate reply text. This line is part of the same quote.</p>
	</blockquote>
	<p>Quote break.</p>
	<blockquote>
		<p>This is a very long line that will still be quoted properly when it wraps. Oh boy let&#39;s keep writing to make
			sure this is long enough to actually wrap for everyone. Oh, you can <em>put</em><strong>Markdown</strong> into a
			blockquote.</p>
	</blockquote>
	<h2>Horizontal Rule</h2>
	<p>Three or more...</p>
	<hr />
	<p>Hyphens</p>
	<hr />
	<p>Asterisks</p>
	<hr />
	<p>Underscores</p>
	<h2>Line Breaks</h2>
	<p>My basic recommendation for learning how line breaks work is to experiment and discover -- hit <Enter> once (i.e.,
			insert one newline), then hit it twice (i.e., insert two newlines), see what happens. You&#39;ll soon learn to get
			what you want. &quot;Markdown Toggle&quot; is your friend.</p>
	<p>Here are some things to try out:</p>
	<p>Here&#39;s a line for us to start with.</p>
	<p>This line is separated from the one above by two newlines, so it will be a <em>separate paragraph</em>.</p>
	<p>This line is also begins a separate paragraph, but...
		This line is only separated by a single newline, so it&#39;s a separate line in the <em>same paragraph</em>.</p>
	<p>(Technical note: <em>Markdown Here</em> uses GFM line breaks, so there&#39;s no need to use MD&#39;s two-space line
		breaks.)</p>
	<p>&nbsp;</p>
	<hr />
	<h2>Links</h2>
	<p>There are two ways to create links.</p>
	<p><a href='https://www.google.com'>I&#39;m an inline-style link</a></p>
	<p><a href='https://www.mozilla.org' target='_blank'>I&#39;m a reference-style link</a></p>
	<p><a href='http://slashdot.org' target='_blank'>You can use numbers for reference-style link definitions</a></p>
	<p>Or leave it empty and use the [link text itself]</p>
	<p>URLs and URLs in angle brackets will automatically get turned into links.
		<a href='http://www.example.com' target='_blank' class='url'>http://www.example.com</a> or <a href='http://www.example.com'
		 target='_blank' class='url'>http://www.example.com</a> and sometimes
		example.com (but not on Github, for example).</p>
	<p>Some text to show that the reference links can follow later.</p>



	<blockquote>
		<p><strong>Hashs</strong></p>
		<pre><code>#heading 1
&lt;a name=&quot;fragment&quot;&gt;&lt;/a&gt;

# /Policy/Publishing/Contents-Policy-EN.md#heading-1
# /Policy/Publishing/Contents-Policy-EN.md#fragment

</code></pre>
	</blockquote>
	<h2>CSS classes </h2>
	<pre><code>### Rendering sample 
* Markdown:  
	- [Link text](./assets/media/GDC_doc_img.png &quot;btn&quot;)	
* Github: 
	- &lt;a href=&quot;./assets/media/GDC_doc_img.png&quot; title=&quot;btn&quot;&gt;Link text&lt;/a&gt;
* Documents
	- &lt;a href=&quot;./assets/media/GDC_doc_img.png&quot; class=&quot;btn&quot;&gt;Link text&lt;/a&gt;
</code></pre>
	<figure>
		<table>
			<thead>
				<tr>
					<th>elements</th>
					<th>class</th>
					<th>MD sample</th>
					<th>rendered sample</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>a</td>
					<td>color</td>
					<td><a href='#' class='blue-text'>link text</a></td>
					<td><a href='http://materializecss.com/color.html' target='_blank' class='url'>http://materializecss.com/color.html</a></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>btn</td>
					<td><a href='#' class='waves-effect waves-light btn'>link text</a></td>
					<td><a href='http://materializecss.com/buttons.html' target='_blank' class='url'>http://materializecss.com/buttons.html</a></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>pulse</td>
					<td><a href='#' class='btn btn-floating pulse'>link text</a></td>
					<td><a href='http://materializecss.com/pulse.html' target='_blank' class='url'>http://materializecss.com/pulse.html</a></td>
				</tr>
				<tr>
					<td>img</td>
					<td>circle</td>
					<td><img src='https://storage.googleapis.com/spec-host-backup/mio-design%2Fassets%2F11HOtmhrzSWV-83DL97G2w3nJHd5WIyps%2Fintro-illo-bold.png'
						 class='circle' alt='alt text' referrerPolicy='no-referrer' /></td>
					<td><a href='http://materializecss.com/media-css.html' target='_blank' class='url'>http://materializecss.com/media-css.html</a></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>responsive-img</td>
					<td><img src='https://storage.googleapis.com/spec-host-backup/mio-design%2Fassets%2F11HOtmhrzSWV-83DL97G2w3nJHd5WIyps%2Fintro-illo-bold.png'
						 class='responsive-img' alt='alt text' referrerPolicy='no-referrer' /></td>
					<td><a href='http://materializecss.com/media-css.html' target='_blank' class='url'>http://materializecss.com/media-css.html</a></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>materialboxed</td>
					<td><img src='https://storage.googleapis.com/spec-host-backup/mio-design%2Fassets%2F11HOtmhrzSWV-83DL97G2w3nJHd5WIyps%2Fintro-illo-bold.png'
						 class='materialboxed' alt='alt text' referrerPolicy='no-referrer' /></td>
					<td><a href='https://materializecss.com/media.html' target='_blank' class='url'>https://materializecss.com/media.html</a></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>large</td>
					<td><img src='/assets/images/bc_img002.png' class='large' alt='alt text' referrerPolicy='no-referrer' /></td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>medium</td>
					<td><img src='/assets/images/bc_img002.png' class='medium' alt='alt text' referrerPolicy='no-referrer' /></td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>small</td>
					<td><img src='/assets/images/bc_img002.png' class='small' alt='alt text' referrerPolicy='no-referrer' /></td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>i</td>
					<td>icon</td>
					<td><strong><i class="material-icons">add</i></strong> 버튼을 눌러 새 문서를 <strong>추가</strong>한다.</td>
					<td><a href='http://materializecss.com/icons.html' target='_blank' class='url'>http://materializecss.com/icons.html</a></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td><strong><i class="lgp-icon">lgp</i></strong> 버튼을 눌러 Home 화면으로 돌아간다.</td>
					<td>&nbsp;</td>
				</tr>
				<tr>
					<td>span</td>
					<td>color</td>
					<td>버튼을 눌러 새 문서를 <strong><span class="blue-text">추가</span></strong>한다.</td>
					<td><a href='http://materializecss.com/color.html' target='_blank' class='url'>http://materializecss.com/color.html</a></td>
				</tr>
			</tbody>
		</table>
	</figure>
	<p>&nbsp;</p>
</body>

</html>