

<footer class="site-footer green white-text">
	<div class="github-commit">
		<div class="container">
			<div class="commit">
				본 API를 사용하고 싶다면? Contact!
					<a href="mailto:{{site.email}}" class="btn-flat right grey-text text-lighten-5 waves-effect waves-light hide-on-small-only"><i class="material-icons right">send</i>Email</a>
					&nbsp;&nbsp;
					<a href="https://kr.linkedin.com/in/dusskapark" class="btn-flat right grey-text text-lighten-5 waves-effect waves-light hide-on-small-only">LinkedIn</a>

			</div>
		</div>
	</div>
</div>


	<div class="footer-copyright green darken-4 white-text">
		<div class="container">
			Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
		</div>
	</div>
</footer>
