<div class="navbar-fixed">
    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">one</a></li>
        <li><a href="#!">two</a></li>
        <li class="divider"></li>
        <li><a href="#!">three</a></li>
    </ul>
    <nav>
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
        <div class="nav-wrapper naver_green">
            <a href="#" class="brand-logo hide-on-med-and-up">
                <img class="naver_brand_logo" src="https://gdc.game.line.me/games/css2/v2/img/logo.png">
            </a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#">Dashboard</a></li>
                <li><a class="dropdown-button" href="#!" data-activates="dropdown1">App Management<i class="material-icons right">arrow_drop_down</i></a></li>
                <li class="active"><a href="#">Documents</a></li>
                <li><a href="#">Admin</a></li>
                <li>
                    <a class="dropdown-button" href="#!" data-activates="dropdown1">
                        <i class="material-icons">confirmation_number</i>
                    </a>
                </li>
                <li>
                    <a class="dropdown-button" href="#!" data-activates="dropdown1">
                        <i class="material-icons">message</i>
                    </a>
                </li>
                <li>
                    <a class="dropdown-button" href="#!" data-activates="dropdown1">
                        <i class="material-icons">account_circle</i>
                    </a>
                </li>
            </ul>
            <ul id="slide-out" class="side-nav fixed">
                <li class="naver_green">
                    <a href="#">
                        <img src="https://gdc.game.line.me/games/css2/v2/img/logo.png">
                    </a>
                </li>
                {% for post in site.posts %}
                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </nav>
</div>
