<nav class="green">
  <div class="nav-wrapper">
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    <a href="#" class="brand-logo right">{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</a>
    <ul id="slide-out" class="side-nav fixed">
      <li><a href="/">About</a></li>
      <li><a href="/getting_started.html">Getting Started</a></li>

      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">프로필 API<i class="mdi-navigation-arrow-drop-down "></i></a>
            <div class="collapsible-body">
              <ul>
                <li><a href="{{ "/user/profile.html#userme" | prepend: site.baseurl }}">/user/me</a></li>
                <li><a href="{{ "/user/profile.html#userdetails" | prepend: site.baseurl }}">/user/details</a></li>
                <li><a href="{{ "/user/profile.html#userupgrade" | prepend: site.baseurl }}">/user/upgrade</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>

      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">서비스 운영 API<i class="mdi-navigation-arrow-drop-down "></i></a>
            <div class="collapsible-body">
              <ul>
                <li><a href="{{ "/maint_list.html#introduction" | prepend: site.baseurl }}">API 소개</a></li>
                <li><a href="{{ "/maint_list.html#uml" | prepend: site.baseurl }}">UML diagram</a></li>
                <li><a href="{{ "/maint_list.html#sample" | prepend: site.baseurl }}">Sample code</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>

      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">데이터 분석 API<i class="mdi-navigation-arrow-drop-down "></i></a>
            <div class="collapsible-body">
              <ul>
                <li><a href="{{ "/v1/api/list.html#v1apigastutus" | prepend: site.baseurl }}">/v1/api/ga/stutus	</a></li>
                <li><a href="{{ "/v1/api/list.html#v1apigaintelligence" | prepend: site.baseurl }}">/v1/api/ga/intelligence	</a></li>
                <li><a href="{{ "/v1/api/list.html#v1apigalibrary" | prepend: site.baseurl }}">/v1/api/ga/library </a></li>
                <li><a href="{{ "/v1/api/list.html#v1apigacreate" | prepend: site.baseurl }}">/v1/api/ga/create </a></li>
                <li><a href="{{ "/v1/api/list.html#v1apigaupdate" | prepend: site.baseurl }}">/v1/api/ga/update</a></li>
                <li><a href="{{ "/v1/api/list.html#v1apigacode" | prepend: site.baseurl }}">/v1/api/ga/code </a></li>
                <li><a href="{{ "/v1/api/list.html#v1apirlibrary" | prepend: site.baseurl }}">/v1/api/r/library </a></li>
                <li><a href="{{ "/v1/api/list.html#v1apircreate" | prepend: site.baseurl }}">/v1/api/r/create</a></li>
                <li><a href="{{ "/v1/api/list.html#v1apirupdate" | prepend: site.baseurl }}">/v1/api/r/update </a></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>

      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">서비스 기획 API<i class="mdi-navigation-arrow-drop-down "></i></a>
            <div class="collapsible-body">
              <ul>
                <li><a href="{{ "/v1/api/list.html#v1apiresearchimport" | prepend: site.baseurl }}">/v1/api/research/import	</a></li>
                <li><a href="{{ "/v1/api/list.html#v1apiresearchintelligence" | prepend: site.baseurl }}">/v1/api/research/intelligence	</a></li>
                <li><a href="{{ "/v1/api/list.html#v1apiresearchtech" | prepend: site.baseurl }}">/v1/api/research/tech	</a></li>
                <li><a href="{{ "/v1/api/list.html#v1apidoclibrary" | prepend: site.baseurl }}">/v1/api/doc/library	</a></li>
                <li><a href="{{ "/v1/api/list.html#v1apidoccreate" | prepend: site.baseurl }}">/v1/api/doc/create	</a></li>
                <li><a href="{{ "/v1/api/list.html#v1apidocupdate" | prepend: site.baseurl }}">/v1/api/doc/update	</a></li>
                <li><a href="{{ "/v1/api/list.html#v1apidoccommit" | prepend: site.baseurl }}">/v1/api/doc/commit	</a></li>
                <li><a href="{{ "/v1/api/list.html#v1apiprotorepo" | prepend: site.baseurl }}">/v1/api/proto/repo	</a></li>
                <li><a href="{{ "/v1/api/list.html#v1apiprotocreate" | prepend: site.baseurl }}">/v1/api/proto/create	</a></li>
                <li><a href="{{ "/v1/api/list.html#v1apiprotoupdate" | prepend: site.baseurl }}">/v1/api/proto/update	</a></li>
                <li><a href="{{ "/v1/api/list.html#v1apiprotopush" | prepend: site.baseurl }}">/v1/api/proto/push	</a></li>
                <li><a href="{{ "/v1/api/list.html#v1apiqafeedbackrt" | prepend: site.baseurl }}">/v1/api/qa/feedback_rt	</a></li>
                <li><a href="{{ "/v1/api/list.html#v1apiqafeedback" | prepend: site.baseurl }}">/v1/api/qa/feedback	</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
      <li><a href="{{ "/v1/api/http.html" | prepend: site.baseurl }}">응답코드</a></li>
      <li class="center-align">
        <div class="line-it-button" style="display: none;" data-type="share-a" data-lang="en"></div>
      </li>
    </ul>
  </div>

</nav>
<script type="text/javascript">
LineIt.loadButton();
</script>
