<section class="about">
  {% if include.divider == true %}
    <div class="wrap"><hr/></div>
    {% endif %}
  <div class="wrap grid">

    <div class="about__image">
      <img src="{{ '/images/profile.png' | relative_url }}" alt="">

      {% include component-socials.html %}
    </div>

    <div class="about__content">
      <h2 class="title">Hey, I’m Joo.</h2>
      <p class="subtitle subtitle--light">Product builder designing AI/ML, developer experience, and tech infrastructure products since 2012.
      </p>

      <p>I turn complex systems into usable tools, from design systems and internal platforms to AI-powered workflows.</p>
      <p>I also lead Friends of Figma Seoul, helping designers explore the edge between design, code, and AI.</p>
      <p>I’d love to learn about your team and see how I can help.</p>

      <a href="#" class="cta button--fill contact-trigger js-contact">Get in Touch</a>
    </div>
  </div>
</section>
