<div class="card-container full-width">
  <div class="overlay"></div>
  <div class="card-wrap ">
      <a class="card" style="background-image: url('../images/projects/2024-klever/tech-01.jpeg')" href="#">
          <div class="card__overlay"></div>
          <div class="card__info">
              <div class="card__title">Understanding<br>AppAgent</div>
              <div class="card__description">Challenge 1</div>
          </div>
      </a>
      <a class="card" style="background-image: url('../images/projects/2024-klever/tech-02.jpeg')" href="#">
          <div class="card__overlay"></div>
          <div class="card__info">
              <div class="card__title">Handling<br>Figma Prototypes</div>
              <div class="card__description">Challenge 2</div>
          </div>
      </a>
      <a class="card" style="background-image: url('../images/projects/2024-klever/tech-03.jpeg')" href="#">
          <div class="card__overlay"></div>
          <div class="card__info">
              <div class="card__title">Implementing<br>Test Automation</div>
              <div class="card__description">Challenge 3</div>
          </div>
      </a>
  </div>
</div>