$background-color: null !default;
$background-alt-color: null !default;
$border-color: null !default;

$text-dark-color: null !default;
$text-medium-color: null !default;
$text-light-color: null !default;

$accent-color: null !default;
$error-color: null !default;

$body-font: null !default;
$title-font: null !default;

$regular-weight: null !default;
$bold-weight: null !default;

$sitetitle-small: null !default;
$sitetitle-medium: null !default;
$sitetitle-large: null !default;
$sitetitle-weight: null !default;
$sitetitle-spacing: null !default;

$menu-small: null !default;
$menu-medium: null !default;
$menu-large: null !default;
$menu-weight: null !default;
$menu-spacing: null !default;

$h1-size: null !default;
$h1-size-small: null !default;
$h1-weight: null !default;
$h1-spacing: null !default;
$h1-spacing-small: null !default;
$h1-lineheight: null !default;
$h1-lineheight-small: null !default;

$h2-size: null !default;
$h2-size-small: null !default;
$h2-weight: null !default;
$h2-spacing: null !default;
$h2-spacing-small: null !default;
$h2-lineheight: null !default;
$h2-lineheight-small: null !default;

$h3-size: null !default;
$h3-size-small: null !default;
$h3-weight: null !default;
$h3-spacing: null !default;
$h3-spacing-small: null !default;
$h3-lineheight: null !default;
$h3-lineheight-small: null !default;

$h4-size: null !default;
$h4-size-small: null !default;
$h4-weight: null !default;
$h4-spacing: null !default;
$h4-spacing-small: null !default;
$h4-lineheight: null !default;

$h5-small: null !default;
$h5-medium: null !default;
$h5-large: null !default;
$h5-weight: null !default;
$h5-spacing: null !default;
$h5-lineheight: null !default;

$h6-small: null !default;
$h6-medium: null !default;
$h6-large: null !default;
$h6-weight: null !default;
$h6-spacing: null !default;
$h6-lineheight: null !default;

$subtitle-size: null !default;
$subtitle-size-small: null !default;
$subtitle-weight-regular: null !default;
$subtitle-weight-heavy: null !default;
$subtitle-spacing: null !default;
$subtitle-spacing-small: null !default;
$subtitle-lineheight: null !default;
$subtitle-lineheight-small: null !default;

$p-size: null !default;
$p-size-small: null !default;
$p-weight: null !default;
$p-spacing: null !default;
$p-lineheight: null !default;

$p-small-size: null !default;
$p-small-size-small: null !default;
$p-small-weight: null !default;
$p-small-spacing: null !default;
$p-small-lineheight: null !default;

$label-size: null !default;
$label-small: null !default;
$label-weight: null !default;
$label-spacing: null !default;
$label-spacing-small: null !default;
$label-lineheight: null !default;

$footnote-size: null !default;
$footnote-weight: null !default;
$footnote-spacing: null !default;
$footnote-lineheight: null !default;

$blockquote-small: null !default;
$blockquote-medium: null !default;
$blockquote-large: null !default;
$blockquote-weight: null !default;
$blockquote-spacing: null !default;
$blockquote-lineheight: null !default;

$button-weight: null !default;
$button-spacing: null !default;

$logo-width: null !default;
$footer-logo-width: null !default;

$grid-spacing: null !default;

$baseurl: "" !default;
